[status]
	# The command 'git status' displays information
	# on each submodule
	submodulesummary = true
[submodule]
	# Commands which accept the flag --recurse-submodules
	# are provided with it automatically.
	# Usuall commands  are:
	# 1. git pull -> does not automatically merge the submodule changes
	# 2. git fetch
	recurse = true
