node_modules
package-lock.json
dist/
tmp/


# wsl2
*:Zone.Identifier

# emacs
# cached changes
\#*\#
\.#*
# undo cache
*~

# vim
:w

# vscode
.vscode

# intellij
.idea

# Ignore refactoring copies
refactor.*

# Ignore logs
*.log
*.tar.gz

# Ignore python script
__pycache__/
*.py[cod]

# Ignore ini files
*.ini

ui/newlogic.afadmin_client
__pycache__
.env

ui/af-design-style
tmp.*


# M4 macro expands shared/mqtt/client.js.m4 into shared/mqtt/client.js
shared/mqtt/client.js

ui/afadmin_new_client.git 
ui/afadmin_client.* 
ui/user-router/