/dist
tmp/
build/
coverage/
tmp/
run/
log/

# Node
node_modules/
package-lock.json

# wsl2
*:Zone.Identifier

# emacs
# cached changes
\#*\#
.#*
*~
.pdf-view-restore

# vim
:w

# vscode
.vscode

# intellij
.idea

# ------- Transient files
*.log
*.logs
*.out
*.tar.gz
*.zip

# configure output
Makefile
/config.*
/vite.config.js
/index.html
/backend-topics.js
/src/constants.js


# ------- Environment variables
.env
.env.*
.env.*.local
.env.local
env.local
env.*.local
eslint-errors
