dist/
tmp/
build/
coverage/
tmp/
run/
log/

# Node
node_modules/
package-lock.json

# wsl2
*:Zone.Identifier

# emacs
# cached changes
\#*\#
.#*
*~
.pdf-view-restore

# vim
:w

# vscode
.vscode

# intellij
.idea

# Ignore python script
*.py[cod]
__pycache__

# ------- Transient files
*.log
*.logs
*.out
*.tar.gz

# configure output
Makefile
/config.*
vite.config.js
index.html
backend-topics.js


# ------- Environment variables
.env
.env.*
.env.*.local
.env.local
env.local
env.*.local
