<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link rel="icon" type="image/png" href="<%- BASENAME %>/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="<%- BASENAME %>/reset.css"/>
    <link rel="stylesheet" type="text/css" href="<%- BASENAME %>/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="<%- BASENAME %>/design_system.css"/>
    <link rel="stylesheet" type="text/css" href="<%- BASENAME %>/site.css"/>
    <link rel="stylesheet" type="text/css" href="<%- BASENAME %>/wristband.css"/>
  </head>
  <body>
    <div id="app-root">
      <div id="app-react-root"></div>
      <div id="flash-messages-react-root"></div>
      <div id="modals-react-root"></div>
    </div>
    <script>
      function debug(...str) {
        for (let i = 0; i < str.length; i++) {
          console.log(str[i]);
        }
      }
    </script>
  </body>
</html>
