//difficulty


html, body, #root {
  height:100%;
  margin: 0;
  padding: 0;
}
.inside-difffculty-wrapper {
  font-family: Agency;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden
}
.inside-difffculty-container {
  max-width: 900px;
  width: 100%;
  margin: 0px auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 44%;
}
.inside-difffculty-wrapper .video_bg{
  position:relative;
  height: 100%;
  width:auto;
  display: block;
}
.inside-difffculty-wrapper .video_bg source{
  position:absolute;
  width: 100%;
  height: 100%;
}




.difficulty-inner {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 40px;
}
.difficulty-inner:before{
  content:"";
  background-color: rgba(1,1,1,.5);
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  z-index:-1;


}

.difficulty-levels-container {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  z-index:1;


}
.difficulty-level-item{
  margin: 20px
}
.difficult-text{
  margin-top: 5px;
  text-align: center;
  color: #747b80;;
  font-size: 30px;
  font-weight: bold;
}
.difficult-img img{
  max-width: 110px;
}
.difficult-img{
  position: relative;
}

.difficulty-header {
  font-size: 70px;
  color: #fff;
  text-align: center;
  margin: 0 auto 0;
  font-weight: bold;
}
.difficulty-btn-out {
  text-align: center;
}
.difficulty-btn-in{
  position: relative;
  width: 250px;
  height: 100px;
  margin: 0 auto;
}
.difficulty-btn-img{
  position: absolute;
}

.difficulty-btn-text {
  position: absolute;
  top: 28px;
  font-size: 30px;
  color: #231b28;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}



.difficult-img:before {
  content:"";
  width: 110px;
  height: 110px;
  position: absolute;
  border-radius: 50%;
  z-index:-1;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.inside-difffculty-wrapper.blue-screen .active-level .difficult-img:before {
  background-color: #0bc9d7;
}
.inside-difffculty-wrapper.red-screen .active-level .difficult-img:before {
  background-color: #ff0000;
}
.inside-difffculty-wrapper.yellow-screen .active-level .difficult-img:before {
  background-color: #ffb000;
}
.inside-difffculty-wrapper.blue-screen .active-level .difficult-text{
  color: #0bc9d7;
}
.inside-difffculty-wrapper.red-screen .active-level .difficult-text{
  color: #ff0000;
}
.inside-difffculty-wrapper.yellow-screen .active-level .difficult-text{
  color: #ffb000;
}
.inside-difffculty-wrapper.blue-screen .difficulty-btn-text.active{
  color: #0bc9d7;
}
.inside-difffculty-wrapper.red-screen .difficulty-btn-text.active{
  color: #ff0000;
}
.inside-difffculty-wrapper.yellow-screen .difficulty-btn-text.active{
  color: #ffb000;
}

//card difficulty

.inside-difffculty-wrapper .card-wrapper {
  width: auto;
  margin: 10px 5%;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
}

.inside-difffculty-wrapper .card-container {
  padding: 20px;
  position: relative;
  color: #fff;
}
.inside-difffculty-wrapper .card-item {
  position: relative;
  min-height: 350px;
  min-width: 217px;
  /* display: block; */
  width: auto;
  display: inline-block;
  margin: 0 auto;
  /* max-width: 268px; */
  /* max-height: 300px; */
}
.inside-difffculty-wrapper .card-video-flame{
  max-width: 100px;
  position: absolute;
  top: -50px;
  left: -50px;
}

.inside-difffculty-wrapper img.card-img-transparent, .inside-difffculty-wrapper .card-img {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: auto;
}

.inside-difffculty-wrapper .card-container {
  text-align: center;width: 100%;
}
.inside-difffculty-wrapper .card-name-container {
  position: absolute;
  bottom: 97px;
  left: calc(50% - 4px);
  transform: translateX(-50%);
  width: 140px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inside-difffculty-wrapper .card-name{
  font-weight: bold;
  font-size: 25px;
}

.inside-difffculty-wrapper .blue-card .card-name{
  color: #01435e;
}
.inside-difffculty-wrapper video.room-video {
  position: absolute;
  top: 27px;
  left: 0;
  width: 100px;
  height: auto;
  left: calc( 50% - 4px);
  transform: translateX(-50%);
}

//inside-countdown

.countdown-inside-right {
  width: 100%;
  display: block;
  text-align: right;
  margin-top: 20px;
  bottom: 20px;
  right: 20px;
  position: absolute;
}

.countdown-inside{
  display: inline-block;
  background-color: rgb(1,1,1,.5);
  padding: 10px 30px;
  border-radius: 30px;
  color: #1be1f0;
  font-size: 40px;
  font-weight: bold;

}



.inside-bottom-inner  .outside-modal-countdown{
  text-align: center;
}
.inside-bottom-inner  .btn_game{
  border: 2px solid #000;
  border-radius: 11px;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  position: relative;
  overflow: hidden;
  width: auto;
  margin: 0 20px;
  cursor: pointer;
  padding: 14px 10% !important;
  position: relative;
  overflow-y: hidden;
  display: inline-block;
}
.inside-bottom-inner  .btn_game:before {
  content: "";
  position: absolute;
  top: 0;
  left: -13px;
  width: 100%;
  opacity: 1;
  height: 1px;
  background-color: transparent;
  box-shadow: 1px 0px 14px 7px #fff;
  padding: 0 10px;
  margin: 0 10px;
  z-index: 1;
  opacity: .9;
}

.inside-bottom-inner  .btn_game:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -13px;
  width: 100%;
  height: 1px;
  background-color: transparent;
  box-shadow: 1px 0px 14px 7px #fff;
  padding: 0 10px;
  margin: 0 10px;
  z-index: 10;
  opacity: .9;
}
.inside-bottom-inner  .btn_bg_color {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .2;
  z-index: 0;
}

.inside-bottom-inner  .btn_container {
  color: #fff;
  position: relative;
  z-index: 1;
}
.inside-bottom-inner .header-btn {
  font-size: 80px;
  color: #fff !important;
  padding: 0 40px;
}

//colors

.active-blue{
  color: #0bc9d7;
}
.active-red{
  color: #ff0000;
}
.active-yellow{
  color: #ffb000;
}