.live_info_container.livescores .live_info_table_container {
    background: url(../images/livescores_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 1250px;
    background-size: contain;
    height: 750px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.live_info_container.livescores .live_info_table {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.live_info_container.livescores .live_info_table {
	width: 100%;
	max-width: 1200px;
	text-align: center;
}

.live_info_container.livescores .live_info_row {
	display: inline-flex;
	width: 80%;
	margin: 2px;
}
.live_info_container.livescores .live_info_num {
    color: #f0f1f2;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    background: rgb(30, 34, 55);
    padding: 5px 0;
}
.live_info_container.livescores .live_info_title {
	color: #f0f1f2;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	background: rgb(30, 34, 55);
	padding: 5px 0;
}

.live_info_container.livescores .live_info_result, 
.live_info_container.livescores .live_info_num , 
.live_info_container.livescores .live_info_title, 
.live_info_container.livescores .live_info_number_of_players, 
.live_info_container.livescores .live_info_time_used, 
.live_info_container.livescores .live_info_played, 
.live_info_container.livescores .live_info_won, 
.live_info_container.livescores .live_info_lost, 
.live_info_container.livescores .live_info_result 
{
	color: #f0f1f2;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	background: rgb(30, 34, 55);
	padding: 5px 0;
}
.live_info_container.livescores .live_info_num {
    width: 5%;}
.live_info_container.livescores .live_info_title {
	width: 20%;}
.live_info_container.livescores .live_info_number_of_players {
	width: 15%;}
.live_info_container.livescores .live_info_time_used {
	width: 15%;}
.live_info_container.livescores .live_info_played {
	width: 10%;}
.live_info_container.livescores .live_info_won {
	width: 10%;}
.live_info_container.livescores .live_info_lost {
	width: 10%;}
.live_info_container.livescores .live_info_result {
	width: 15%;color: #d1aeff;}
.live_info_container.livescores .title_frame.header_team_name{width: 25% !important;}
.live_info_container.livescores .title_frame.header_number_players{width: 15% !important;}
.live_info_container.livescores .title_frame.header_time_used{width: 15%;}
.live_info_container.livescores .title_frame.header_played{width: 10%;}
.live_info_container.livescores .title_frame.header_won{width: 10%;}
.live_info_container.livescores .title_frame.header_lost{width: 10%;}
.live_info_container.livescores .title_frame.header_total_points{width: 15% !important;}
.live_info_container.livescores .label_live_info {
	width: 100%;
	max-width: 450px;
	display: inline-block;
	position: absolute;
    top: -110px;
	left: 50%;
	transform: translateX(-50%);
}
.live_info_container.livescores .dafnes_pic {
	width: 100%;
	display: inline-block;
	position: absolute;
	top: -50px;
	left: 100%;
	transform: translateX(-50%);
}
.live_info_container.livescores .live_info_label_text {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #ddc144;
    font-weight: bold;
    letter-spacing: 1px;
    left: 50%;
    transform: translate(-42%, -63%);
}
.live_info_container.livescores .live_info_label_text span{
    display: block;
    color: #dbb541;
    font-size: 24px;
}
.live_info_container.livescores .live_info_img {
	text-align: center;
}
.live_info_container.livescores .header_team_name{
}
.live_info_container.livescores .title_frame span{
    background-image: linear-gradient( #56297c, #300e50 );
    border-radius: 10px;
    color: #fff;
    border: 2px solid #cb80ff;
	padding: 8px 18px;
    font-weight: bold;
    font-size: 18px;
}
.live_info_container.livescores .title_frame.header_team_name {
    margin-right: 10px;
}

.live_info_container.livescores{
    position: relative;
}

.live_info_container.livescores .red_info {
    width: 100%;
    max-width: 450px;
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

.live_info_container.livescores .red_info_img {
    width:100px;
    position: absolute;
    left: 23px;
}
.live_info_container.livescores .red_info_img img {
    width:100px;
    
}
.live_info_container.livescores .red_info_title{
	position: absolute;
    color: #cbb041;
    font-size: 18px;
    font-weight: bold;
    top: 20px;
    left: 38px;
}
.live_info_container.livescores .live_info_num{
    position: relative;
}
.live_info_container.livescores .live_info_num:before {
        position: absolute;
    content: "";
    width: 46px;
    height: 35px;
    display: inline-block;
    background-image: url(../images/icon_position_1.png);
    background-repeat: no-repeat;
    background-position: 10% 0%;
    background-size: 65%;
}
.live_info_container.livescores .live_info_row.the_header {
    margin: 0 0 15px !important;
}
.live_info_container.livescores .live_info_row:nth-of-type(2) .live_info_num:before {
    background-image: url(../images/icon_position_1.png);
}
.live_info_container.livescores .live_info_row:nth-of-type(3) .live_info_num:before {
    background-image: url(../images/icon_position_2.png);
}
.live_info_container.livescores .live_info_row:nth-of-type(4) .live_info_num:before {
    background-image: url(../images/icon_position_3.png);
}
.live_info_container.livescores .live_info_row:nth-of-type(5) .live_info_num:before {
    background-image: url(../images/icon_position_4.png);
}
.live_info_container.livescores .live_info_row:nth-of-type(6) .live_info_num:before {
    background-image: url(../images/icon_position_5.png);
}
.live_info_container.livescores .live_info_row:nth-of-type(7) .live_info_num:before {
    background-image: url(../images/icon_position_6.png);
}
.live_info_container.livescores .live_info_row:nth-of-type(8) .live_info_num:before {
    background-image: url(../images/icon_position_7.png);
}
.live_info_container.livescores .live_info_row:nth-of-type(9) .live_info_num:before {
    background-image: url(../images/icon_position_8.png);
}
.live_info_container.livescores .live_info_row:nth-of-type(10) .live_info_num:before {
    background-image: url(../images/icon_position_9.png);
}
.live_info_container.livescores .live_info_row:nth-of-type(11) .live_info_num:before {
    background-image: url(../images/icon_position_10.png);
}