.live_info_container.top_ten .live_info_table_container {
	background: url("../images/top_ten_bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	width: 700px;
	background-size: contain;
	height: 500px;
	margin: 0 auto;
	margin-top: 100px;
	position: relative;
}

.live_info_container.top_ten .live_info_table {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.live_info_container.top_ten .live_info_table {
	width: 100%;
	max-width: 340px;
	text-align: center;
}

.live_info_container.top_ten .live_info_row {
	display: inline-flex;
	width: 80%;
	margin: 2px;
}
.live_info_container.top_ten .live_info_num {
    color: #f0f1f2;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    width: 5%;
    background: rgb(30, 34, 55);
    padding: 5px 0;
}
.live_info_container.top_ten .live_info_title {
	color: #f0f1f2;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	width: 55%;
	background: rgb(30, 34, 55);
	padding: 5px 0;
}

.live_info_container.top_ten .live_info_result {
	color: #f0f1f2;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	width: 40%;
	background: rgb(30, 34, 55);
	padding: 5px 0;
}

.live_info_container.top_ten .label_live_info {
	width: 100%;
	max-width: 450px;
	display: inline-block;
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
}
.live_info_container.top_ten .dafnes_pic {
	width: 100%;
	display: inline-block;
	position: absolute;
	top: -50px;
	left: 100%;
	transform: translateX(-50%);
}
.live_info_container.top_ten .live_info_label_text {
	font-size: 35px;
    position: absolute;
    top: 14px;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #ddc144;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 7px;
}
.live_info_container.top_ten .live_info_label_text span{
    display: block;
    color: #dbb541;
    font-size: 24px;
}
.live_info_container.top_ten .live_info_img {
	text-align: center;
}
.live_info_container.top_ten .header_team_name{
	width: 60%;color: #dbb541;
    font-size: 24px;
}
.live_info_container.top_ten .header_total_points{
	width: 40%;color: #dbb541;
    font-size: 24px;
}
.live_info_container.top_ten .title_frame span{
    background-image: linear-gradient( #a18d6f, #8a7a3d );
    border-radius: 10px;
    color: #fff;
    border: 2px solid #cbb041;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
}
.live_info_container.top_ten .title_frame.header_team_name {
    margin-right: 10px;
}

.live_info_container.top_ten{
    position: relative;
}
.live_info_container.top_ten:before{
    background-image: url(../images/Asset_4.png);
    position: absolute;
    content:"";
    width: 210px;
    height: 160px;
    top: -100px;
    left: 100%;
    transform: translateX(-50%);
    display: inline-block;
}
.live_info_container.top_ten .red_info {
    width: 100%;
    max-width: 450px;
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
}

.live_info_container.top_ten .red_info_img {
    width:100px;
    position: absolute;
    left: 23px;
}
.live_info_container.top_ten .red_info_img img {
    width:100px;
    
}
.live_info_container.top_ten .red_info_title{
	position: absolute;
    color: #cbb041;
    font-size: 18px;
    font-weight: bold;
    top: 20px;
    left: 38px;
}
.live_info_container.top_ten .live_info_num{
    position: relative;
}
.live_info_container.top_ten .live_info_num:before {
        position: absolute;
    content: "";
    width: 46px;
    height: 35px;
    display: inline-block;
    background-image: url(../images/icon_position_1.png);
    background-repeat: no-repeat;
    background-position: 10% 0%;
    background-size: 65%;
}
.live_info_container.top_ten .live_info_row.the_header {
    margin-bottom: 7px !important;
}
.live_info_container.top_ten .live_info_row:nth-of-type(2) .live_info_num:before {
    background-image: url(../images/icon_position_1.png);
}
.live_info_container.top_ten .live_info_row:nth-of-type(3) .live_info_num:before {
    background-image: url(../images/icon_position_2.png);
}
.live_info_container.top_ten .live_info_row:nth-of-type(4) .live_info_num:before {
    background-image: url(../images/icon_position_3.png);
}
.live_info_container.top_ten .live_info_row:nth-of-type(5) .live_info_num:before {
    background-image: url(../images/icon_position_4.png);
}
.live_info_container.top_ten .live_info_row:nth-of-type(6) .live_info_num:before {
    background-image: url(../images/icon_position_5.png);
}
.live_info_container.top_ten .live_info_row:nth-of-type(7) .live_info_num:before {
    background-image: url(../images/icon_position_6.png);
}
.live_info_container.top_ten .live_info_row:nth-of-type(8) .live_info_num:before {
    background-image: url(../images/icon_position_7.png);
}
.live_info_container.top_ten .live_info_row:nth-of-type(9) .live_info_num:before {
    background-image: url(../images/icon_position_8.png);
}
.live_info_container.top_ten .live_info_row:nth-of-type(10) .live_info_num:before {
    background-image: url(../images/icon_position_9.png);
}
.live_info_container.top_ten .live_info_row:nth-of-type(11) .live_info_num:before {
    background-image: url(../images/icon_position_10.png);
}