@font-face {
	font-family: 'Agency';
	src: url('../fonts/3B1745_1_0.woff') format('woff'), url('../fonts/taxX50l4.ttf') format('truetype')
}
html, body, #root {
  height:100%;
  margin: 0;
  padding: 0;
}
.inside-difffculty-wrapper {
	font-family: Agency;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden
}
.inside-difffculty-wrapper.blue-screen{
	background-image: url("../images/CMN_01.png");	
}
.inside-difffculty-wrapper.yellow-screen{
	background-image: url("../images/CMN_01y.png");	
}
.inside-difffculty-wrapper.red-screen{
	background-image: url("../images/CMN_01r.png");	
}
.inside-difffculty-container {
	max-width: 900px;
	width: 100%;
	margin: 0px auto;
	height: auto;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 44%;
}
 .inside-difffculty-wrapper .video_bg{
	 position:relative;
	 height: 100%;
	 width:auto;
	 display: block;
}
.inside-difffculty-wrapper .video_bg source{
	position:absolute;
	width: 100%;
	height: 100%;
}




.difficulty-inner {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
	padding: 40px;
}
.difficulty-inner:before{
content:"";
background-color: rgba(1,1,1,.5);
position: absolute;
top: 0;
left:0;
width: 100%;
height: 100%;
    z-index:-1;
    

    }

.difficulty-levels-container {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    z-index:1;


}
.difficulty-level-item{
margin: 20px
}
.difficult-text{
    margin-top: 5px;
    text-align: center;
    color: #747b80;;
    font-size: 30px;
    font-weight: bold;
}
.difficult-img img{
    max-width: 110px;
}
.difficult-img{
    position: relative;
}

.difficulty-header {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin: 0 auto 0;
    font-weight: bold;
}
.difficulty-btn-out {
    text-align: center;
}
.difficulty-btn-in{
    position: relative;
    width: 250px;
    height: 100px;
    margin: 0 auto;
}
.difficulty-btn-img{
    position: absolute;
}

.difficulty-btn-text {
    position: absolute;
    top: 28px;
    font-size: 30px;
    color: #231b28;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}



.difficult-img:before {
    content:"";
    width: 110px;
    height: 110px;
    position: absolute;
    border-radius: 50%;
    z-index:-1;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inside-difffculty-wrapper.blue-screen .active-level .difficult-img:before {
	background-color: #0bc9d7;
}
.inside-difffculty-wrapper.red-screen .active-level .difficult-img:before {
	background-color: #ff0000;
}
.inside-difffculty-wrapper.yellow-screen .active-level .difficult-img:before {
	background-color: #ffb000;
}
.inside-difffculty-wrapper.blue-screen .active-level .difficult-text{
	color: #0bc9d7;
}
.inside-difffculty-wrapper.red-screen .active-level .difficult-text{
	color: #ff0000;
}
.inside-difffculty-wrapper.yellow-screen .active-level .difficult-text{
	color: #ffb000;
}
.inside-difffculty-wrapper.blue-screen .difficulty-btn-text.active{
    color: #0bc9d7;
}
.inside-difffculty-wrapper.red-screen .difficulty-btn-text.active{
    color: #ff0000;
}
.inside-difffculty-wrapper.yellow-screen .difficulty-btn-text.active{
    color: #ffb000;
}