@font-face {
	font-family: 'Agency';
	src: url('../fonts/3B1745_1_0.woff') format('woff'), url('../fonts/taxX50l4.ttf') format('truetype')
}
html, body, #root {
  height:100%;
  margin: 0;
  padding: 0;
}
.the-maze-inside-wrapper {
	font-family: Agency;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden
}
.the-maze-inside-wrapper.blue-screen{
	background-image: url("../images/CMN_01.png");	
}
.the-maze-inside-wrapper.yellow-screen{
	background-image: url("../images/CMN_01y.png");	
}
.the-maze-inside-wrapper.red-screen{
	background-image: url("../images/CMN_01r.png");	
}
.the-maze-inside-container {
	max-width: 1550px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
 .the-maze-inside-wrapper .video_bg{
	 position:relative;
	 height: 100%;
	 width:auto;
	 display: block;
}
.the-maze-inside-wrapper .video_bg source{
	position:absolute;
	width: 100%;
	height: 100%;
}





