.countdown-inside-right {
    width: 100%;
    display: block;
    text-align: right;
	margin-top: 20px;
}

.countdown-inside{
    display: inline-block;
    background-color: rgb(1,1,1,.5);
    padding: 10px 30px;
     border-radius: 30px;
     color: #1be1f0;
     font-size: 40px;


}



.inside-bottom-inner  .outside-modal-countdown{
	text-align: center;
}
.inside-bottom-inner  .btn_game{
    border: 2px solid #000;
    border-radius: 11px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    position: relative;
    overflow: hidden;
    width: auto;
    margin: 0 20px;
    cursor: pointer;
    padding: 14px 10% !important;
    position: relative;
    overflow-y: hidden;
    display: inline-block;
  }
.inside-bottom-inner  .btn_game:before {
	content: "";
	position: absolute;
	top: 0;
	left: -13px;
	width: 100%;
	opacity: 1;
	height: 1px;
	background-color: transparent;
	box-shadow: 1px 0px 14px 7px #fff;
	padding: 0 10px;
	margin: 0 10px;
	z-index: 1;
	opacity: .9;
}

.inside-bottom-inner  .btn_game:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: -13px;
	width: 100%;
	height: 1px;
	background-color: transparent;
	box-shadow: 1px 0px 14px 7px #fff;
	padding: 0 10px;
	margin: 0 10px;
	z-index: 10;
	opacity: .9;
}
.inside-bottom-inner  .btn_bg_color {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .2;
    z-index: 0;
}

.inside-bottom-inner  .btn_container {
    color: #fff;
    position: relative;
    z-index: 1;
}
.inside-bottom-inner .header-btn {
    font-size: 80px;
    color: #fff !important;
    padding: 0 40px;
}