.teams-point {
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    color: #fff;
    padding: 5px 40px;
    font-size: 30px;
    border-radius: 40px;
    margin-top: 20px;
}
.inside-bottom-inner .win-lose-button.you-win-button .btn_game{
    border: 2px solid #00be00 !important;
    color: #00be00 !important;
  }
.inside-bottom-inner .win-lose-button.you-win-button .btn_game:before {
	background-color: transparent;
	box-shadow: 1px 0px 14px 7px #00be00 !important;
}

.inside-bottom-inner .win-lose-button.you-win-button .btn_game:after {
	box-shadow: 1px 0px 14px 7px #00be00 !important;
}
.inside-bottom-inner .win-lose-button.you-win-button .btn_bg_color {
    background-color: #00be00 !important;
}

.inside-bottom-inner .win-lose-button.you-win-button .btn_container {
    color: #00be00 !important;
}
.inside-bottom-inner .win-lose-button.you-win-button .header-btn {
    color: #00be00 !important;
}
.inside-bottom-inner .win-lose-button.you-win-button .btn_game:before{
    top: -5px;
}
.inside-bottom-inner .win-lose-button.you-win-button .btn_game:after{
    bottom: -2px;
}

.inside-bottom-inner .win-lose-button.you-lose-button .btn_game{
    border: 2px solid #ff0000 !important;
    color: #00be00 !important;
  }
.inside-bottom-inner .win-lose-button.you-lose-button .btn_game:before {
	background-color: transparent;
	box-shadow: 1px 0px 14px 7px #ff0000 !important;
}

.inside-bottom-inner .win-lose-button.you-lose-button .btn_game:after {
	box-shadow: 1px 0px 14px 7px #ff0000 !important;
}
.inside-bottom-inner .win-lose-button.you-lose-button .btn_bg_color {
    background-color: #ff0000 !important;
}

.inside-bottom-inner .win-lose-button.you-lose-button .btn_container {
    color: #ff0000 !important;
}
.inside-bottom-inner .win-lose-button.you-lose-button .header-btn {
    color: #ff0000 !important;
}
.inside-bottom-inner .win-lose-button.you-lose-button .btn_game:before{
    top: -5px;
}
.inside-bottom-inner .win-lose-button.you-lose-button .btn_game:after{
    bottom: -2px;
}