.handBracelet .cls-1 {
  isolation: isolate;
}

.handBracelet .hand-outline {
  opacity: 0.5;
  mix-blend-mode: multiply;
}

.handBracelet  .hand-shadow {
  fill: #555555;
}

.handBracelet .bracelet-wristband {
  fill: grey;
}

.handBracelet .bracelet-ornament {
  fill: var(--primary-base);
}

.handBracelet .circle {
  fill: #cacbcc;
}
