@font-face {
	font-family: 'Agency';
	src: url('../fonts/3B1745_1_0.woff') format('woff'), url('../fonts/taxX50l4.ttf') format('truetype')
}

html, body, #root {
  height:100%;
  margin: 0;
  padding: 0;
}


.the-maze-wrapper {
	background-color: grey;
	font-family: Agency;
	width: 100%;
	height: 100%;
	background-image: url("../images/BG.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden
}

.the-maze-container {
	max-width: 1550px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.four-buttons-item {
	color: #fff;
	display: inline-flex;
	width: 25%;
	text-align: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.four-buttons-container {
	display: inline-flex;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


.home_icon {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.home_icon img{
    max-width: 150px;
    width: 100%;
    cursor: pointer;
}
.btn_game {
	padding: 30px;
	border: 2px solid #000;
	border-radius: 11px;
	display: inline-block;
	font-weight: bold;
	color: #fff;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 20px;
	cursor: pointer;
}

.header-btn {
	font-size: 55px;
	color: #fff !important;
}

.bottom-btn {
	font-size: 25px;
	color: #fff;
}

.btn_game:before {
	content: "";
	position: absolute;
	top: 0;
	left: -13px;
	width: 100%;
	opacity: 1;
	height: 1px;
	background-color: transparent;
	box-shadow: 1px 0px 14px 7px #fff;
	padding: 0 10px;
	margin: 0 10px;
	z-index: 1;
	opacity: .9;
}

.btn_game:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: -13px;
	width: 100%;
	height: 1px;
	background-color: transparent;
	box-shadow: 1px 0px 14px 7px #fff;
	padding: 0 10px;
	margin: 0 10px;
	z-index: 10;
	opacity: .9;
}

.btn_bg_color {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .2;
	z-index: 0;
}

.btn_container {
	color: #fff;
	position: relative;
	z-index: 1;
}


/*new below*/
.four-buttons-item{
    overflow: hidden;
}
.effect_click{
    transform: scale(1) translateY(0px);
    transition: .35s;

}
.effect_click:hover{
    transform: scale(.95) translateY(5px);
    transition: .35s;
}
.bottom_menu {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
.bottom_menu_container{
    position: absolute;
    width: 100%;
    bottom: 0;
}


.bottom_menu_logo{
    position: relative;
}
.bottom_menu_logo:before{
    content: "";
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../images/FOT_01.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bottom_menu_logo{
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 170px;
}
.img_logo_the_maze img{
	animation-name: logo_menu;
	animation-duration: 1s;
	transform: scale(0.75);
	animation-timing-function: cubic-bezier(0.33, 0.19, 0.04, 2.07);
}

@keyframes logo_menu {
  0%   {transform: scale(0);}
  100% {transform: scale(0.75);}
}

.bottom_menu_flag{
    position: relative;
}
.language_option{
    position: absolute;
    bottom: 5px;
    color: #fff;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
.how-top-play-container{
	position: absolute;
    top: 20px;
    left: 50px;
	cursor: pointer
}
.how-to-play{
    color: #fff;
    font-size: 24px;
    border: 2px solid #5455a1;
    background-color: #25214a;
    padding: 10px 10px 10px 35px;
    border-radius: 11px;
	position: relative;
}

.how-top-play-container:before {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/question_icon.png);
    position: absolute;
    left: -20px;
	width: 70px;
    height: 52px;
    z-index: 1;
	animation-duration: 1.25s;
	animation-name: question_animation;
	animation-timing-function: cubic-bezier(0.33, 0.19, 0.04, 2.07);
}
@keyframes question_animation {
  0%   {transform: scale(0);}
  100% {transform: scale(1) rotate(360deg);}
}

.keyboard-wrapper {
    z-index:1;
	position: fixed;
	bottom: 0;
    width: 100%;
    margin: 0 auto;

}
.keyboard-container {
    bottom: 50%;
	z-index: 100;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 20px 10% 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
	}
.keyboard-container:before{
    content:"";
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top: 0;
    opacity: .5;
    display: block;
    z-index: 1;
}

.keyboard_line{
    z-index:10;
    position:relative;
    
}


.keyboard_line{
	width: 100%;
    display: inline-flex;
    margin: 2px 0;
    justify-content: flex-end;
}
.keyboard_letter{
    width: 9%;
    color: #c593f9;
    border: 1px solid #c593f9;
    margin: 0 2px;
    padding: 10px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    background-color: #2a262e96;
	-webkit-user-select: none;
			  user-select: :none
}
.twenty_percent{
width: 20%;
}
.forty_percent{
width: 40%;
}
.fifty_percent{
width: 50%;
}
.ten_percent{
width: 10%;
}
.forty_percent{
width: 40%; 
}
.back_keyboard .keyboard_letter{
	color: #fff;
    border: 1px solid #fff;
}
.keyboard_letter.noborder{
    border: 1px solid #2a262e96;
}
			  .front_keyboard{
				  display: block;
			  }
			  .back_keyboard{
				  display: none;
			  }
.show_back_keyboard .front_keyboard {
    display: none;
}
.show_back_keyboard .back_keyboard {
    display: block;
}
.keyboard_letter{
transition: .5s;
}
.keyboard_letter:hover{
  animation-name: click_font;
  animation-duration: .35s;
}

@keyframes click_font {
  0% {    background-color: #2a262e96;}
  75% {    background-color: #3e3e3e;}
  100% {    background-color: #2a262e96;}
}
			  .keyboard-wrapper{
				  display: block;
			  }
			  .keyboard-wrapper.show_keyboard{
				  display: block;
			  }
			  .keyboard-container{
				 bottom: -250px;
				  opacity: 0;animation-name: hideKeyboard;
					  animation-duration: 1s;
			  }
			  .keyboard-wrapper.show_keyboard .keyboard-container{
				    animation-name: showKeyboard;
					  animation-duration: 1s;bottom: 0px;
				  opacity: 1;
}

@keyframes hideKeyboard {
    0% { 
				 bottom: 0px;
				  opacity: 1;}
	75%{
		display: block;
	}
	100% {
				 bottom: -350px;
				  opacity: 0;
		display: none;}

}
@keyframes showKeyboard {
  0% {
				 bottom: -250px;
				  opacity: 0.5;
		display: block;}
  100% { 
				 bottom: 0px;
				  opacity: 1;
		display: block;}
}