.skills-container {
	padding: 20px;
	position: relative;
	color: #fff;
	display: inline-flex;
	width: 90%;
	justify-content: space-around;
}

.skill-item {
	display: inline-flex;
	align-items: center;
}

.skill-score {
	border-radius: 20px;
	border: 1px solid #fff;
	padding: 5px;
}

.point {
	border-radius: 50%;
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: #ffffff3b;
	position: relative;
}

.point.achieved {
	background-color: #fff;
}

.skill-text {
	margin: 0 5px;
	font-size: 22px;
}